
head{
    height: auto;
    float: left;
    width: 2000px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
        background-image: url("paper.gif");
        background-color: #cccccc;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1,  h3 {
    color: #4CAF50;
}
h2{
    color: #ff8c00;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
#image{
    position: absolute;
    border-radius: 50px;
    margin-top: 2px;
}


#products{
    display: flex;
    overflow: auto;
    /* justify-content: center; */
 
}

.headingoftheproduct
{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.aboutproduct{
    height: 100px;
    width: 50vh;
    /* border: solid; */
    overflow: auto;
}

#contact
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon .fa-brands
{
    color: red;
   
}

#about
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}



* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", system-ui;
  }
  
  .container {
    margin: 20px;
  }
  
  .segmented-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
  }
  
  .segmented-control__segment {
    border: 1px solid #dedede;
    border-right: none;
    flex: 1;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .segmented-control__segment-content {
    width: 100%;
    height: 100%;
  }
  
  .segmented-control__segment.segmented-control__segment_selected {
    background: #105bfb;
    border-color: #105bfb;
  }
  
  .segmented-control__segment.segmented-control__segment_selected
    + .segmented-control__segment:not(.segmented-control__segment_selected) {
    border-left: none;
  }
  
  .segmented-control__segment.segmented-control__segment_selected:hover {
    background: #105bfb;
  }
  
  .segmented-control__segment:hover {
    background: #dbebf7;
  }
  
  .segmented-control__segment:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .segmented-control__segment:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #dedede;
  }
  
  .segmented-control__segment.segmented-control__segment_selected:last-child {
    border-right: 1px solid #105bfb;
  }
  
  .input {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    caret-color: #21262d;
    font-size: 16px;
    padding: 8px 13px;
    color: #444;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    outline: 0;
    text-align: left;
    line-height: 24px;
    margin-bottom: 8px;
    border: 1px solid #dfdfdf;
  }
  
  .input:hover,
  .input:focus {
    border-color: #1e72f7;
  }
  
  button {
    margin-top: 8px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    user-select: none;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 8px 13px;
    font-size: 15px;
    height: 40px;
    line-height: 24px;
    background: #0052ff;
    color: #fff;
    border: 1px solid transparent;
  }
  
  button:hover {
    background: #1b64f7;
  }

  
  .container
  {
    width: 50vh;
  }

  .feedbackform{
    display: flex;
    justify-content: center;
  }